{% extends "base.html" %}
{% import "macros/form.html" as forms %}
{% block content %}


    <div id="alert_placeholder" class="container-fluid"></div>
    <div class="row">
            <div class="col-md-12" ng-app="app" ng-controller="Ctrl">
                <h1 class="lead">{{ title }}</h1>
                <table id="event_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Date</th>
                            <th>Analyzer</th>
                            <th>Data Type</th>
                            <th>Observable</th>
                        </tr>
                    </thead>
                    {% for a in artifacts %}
                        <tr>
                            <td><input type="checkbox" name="ck-select" value="" /></td>
                            <td>{{ a['date'].strftime('%Y-%m-%d %H:%S') }}</td>
                            <td>{{ a['analyzerName'] }}</td>
                            <td>{{ a['dataType'] }}</td>
                            <td><a href="#" class="send-ioc-btn" data-ioc="{{ a['data'] }}" data-dt="{{ a['dataType'] }}">{{ a['data'] }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>

    <script>
        bootstrap_alert = function() {}
        bootstrap_alert.warning = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert">'+message+'</div>')
        }
        $(function () {
          $(".send-ioc-btn").click(function () {
            if (confirm('Submit indicator to analyzers?')) {
                $.ajax({
                  url: '/query_all',
                  type: 'post',
                  contentType: 'application/json;charset=UTF-8',
                  dataType: 'json',
                  data: JSON.stringify({'data_type': $(this).data('dt'), 'observable': $(this).data('ioc'), 'pivot': '{{ observable }}'}),
                  beforeSend: function () {
                    bootstrap_alert.warning('Successfully submitted analyzers');
                  }
                });
            }
          });
        });
    </script>
{% endblock %}