{% extends "base.html" %}
{% import "macros/form.html" as forms %}
{% block content %}



    <div class="row">
            <div class="col-md-12" ng-app="app" ng-controller="Ctrl">
                <h1 class="lead">{{ title }}</h1>
                <table id="event_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>IOC</th>
                            <th>First Seen</th>
                            <th>Last Seen</th>
                            <th>Successful Jobs</th>
                            <th>Artifacts</th>
                        </tr>
                    </thead>
                    {% for ioc in order %}
                        <tr>
                            <td><a href="/reports?observable={{ ioc|urlencode }}">{{ ioc }}</a></td>
                            <td>{{ summary[ioc]['first_seen'].strftime('%Y-%m-%d %H:%S') }}</td>
                            <td>{{ summary[ioc]['last_seen'].strftime('%Y-%m-%d %H:%S') }}</td>
                            <td>{{ summary[ioc]['count'] }}</td>
                            <td><a href="/artifacts?observable={{ ioc|urlencode }}">Review</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>

    <script>
        $(function () {
          $(".js-report-btn").click(function () {
            $.ajax({
              url: '/detail/' + $(this).data('job'),
              type: 'get',
              dataType: 'json',
              beforeSend: function () {
                $("#reportModal").modal("show");
              },
              success: function (data) {
                $("#reportModal .modal-body").html(data.html);
              }
            });
          });

        });
    </script>
{% endblock %}